.backButton{
  margin-top: 1rem;
  margin-left: 1rem;
}

.main{
  margin-top: 1rem;
  display: flex;

  gms-student-bar{
    width: 25%;
    border-right: 1px solid gray;
  }

  gms-goal-details{
    width: 75%;
    margin-left: 1rem;
  }
}
