.student-sidebar{
  height: 100%;
}

mat-list-item{
  height: 4rem;
  font-size: 1.3rem;

  mat-icon{
    margin-right:1rem;
  }
}

.highlighted{
  background-color: lightgrey;
}

.student :hover{
  cursor: pointer;
  background-color: lightgrey;
  transition: background-color 1s;
}
