.exit{
    float: right;
    top:-24px;
    right:-24px;
    border:none;
    background: transparent;
  }
  
  .exit:hover{
    cursor: pointer;
  }
  
  .deleteButton{
    margin-top: 2rem;
  }
  
  .description{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;

    mat-icon{
      margin-right: 8px;
    }
  }

  .actions{
    margin-top: 2rem;

    button{
      margin-right: 1rem;
    }
  }

  .acceptButton{
    width: 35%;
    background-color: #91bf4b;
    color: white;
  }

  .rejectButton{
    width: 35%;
    color: red;
    border: solid 2px red;
  }