
<nb-card>
  <nb-card-header>
      🏫 Create a Class
      <button mat-dialog-close class="exit">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="exitIcon">clear</mat-icon>
      </button>
  </nb-card-header>
  
    <nb-card-body>

      <div>
        <label for="name" class="label">Class Name</label>
        <div class="form-field">
          <input nbInput [(ngModel)]="class.title" id="name" fullWidth placeholder="Enter Class Name...">
          <p [hidden]="class.title.length <= 20" class="error">Name must be less than 20 chars.</p>
        </div>
      </div>

      <div>
        <label for="teacher" class="label">Select Teacher:</label>
        <div class="form-field">
        <nb-select [(ngModel)]="teacherData" id="teacher">
          <nb-option *ngFor="let teacher of teachers" [value]="teacher.email">
            {{teacher.name}}
          </nb-option>
        </nb-select>
      </div>
      </div>


      <p>Select Class Icon: </p>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="setSelectedIcon(icon)" [checked]="icon == selectedIcon" *ngFor="let icon of icons | slice:0:(icons.length / 2)">
            <mat-icon>{{icon}}</mat-icon>
        </mat-button-toggle>        
      </mat-button-toggle-group>

      <br />

      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="setSelectedIcon(icon)" [checked]="icon == selectedIcon" *ngFor="let icon of icons | slice:(icons.length / 2):icons.length">
            <mat-icon>{{icon}}</mat-icon>
        </mat-button-toggle>       
      </mat-button-toggle-group>

    </nb-card-body>
  
    <nb-card-footer>
      <div class="card-footer">
      <button nbButton mat-dialog-close status="basic">Cancel</button>
      <button nbButton status="primary" (click)="createClass()" [nbSpinner]="loading" [disabled]="!formComplete() || loading">Create Class</button>
      </div>
    </nb-card-footer>
  </nb-card>