
<button mat-dialog-close class="exit">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="exitIcon">clear</mat-icon>
  </button>
    <h1 mat-dialog-title>Create a Class</h1>
    <div mat-dialog-content>

        <!-- title, students, icon -->
      <!-- Title -->
      <p>
        <mat-form-field>
          <mat-label>Class Name</mat-label>
          <input matInput [(ngModel)]="class.title">
        </mat-form-field>
      </p>

      <p>Select Teacher:</p>

      <mat-form-field appearance="fill">
        <mat-label>Class Teacher</mat-label>
        <mat-select [(ngModel)]="teacherData">
          <mat-option *ngFor="let teacher of teachers" [value]="teacher.uid">
            {{teacher.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <p>Select Class Icon: </p>
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="setSelectedIcon(icon)" [checked]="icon == selectedIcon" *ngFor="let icon of icons | slice:0:(icons.length / 2)">
            <mat-icon>{{icon}}</mat-icon>
        </mat-button-toggle>        
      </mat-button-toggle-group>

      <br />

      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle (click)="setSelectedIcon(icon)" [checked]="icon == selectedIcon" *ngFor="let icon of icons | slice:(icons.length / 2):icons.length">
            <mat-icon>{{icon}}</mat-icon>
        </mat-button-toggle>       
      </mat-button-toggle-group>

      <!-- <div class="students-section">
        <mat-form-field>
            <mat-label>Enter Student Email</mat-label>
            <input matInput placeholder="Ex. johndoe2024@chadwickschool.org" (keyup.enter)="enterStudent()" [(ngModel)]="studentEmailInput">
        </mat-form-field>
        <p class="student-email-input-error">{{studentEmailError}}</p>

        <h3 *ngFor="let email of studentEmails">
            <div class="person-email">
                <mat-icon>person</mat-icon>
                <p>{{email}}</p>
            </div>
        </h3>         
      </div> -->


    </div>
  
    <mat-dialog-actions>
      <div class="spacer"></div>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" (click)="createClass()" [class.spinner]="loading" [disabled]="!formComplete() || loading">Create Class</button>
    </mat-dialog-actions>
  