<button mat-icon-button (click)="navigateBack()" class="backButton" matTooltip="Back">
  <mat-icon>arrow_back</mat-icon>
</button>

<div class="student" *ngIf="student">
  <h1>{{student.name}}</h1>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Incompleted
      </mat-panel-title>
      <mat-panel-description>
         {{missingGoals.length}} incompleted
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list *ngIf="missingGoals.length > 0">
      <mat-divider></mat-divider>
      <div class="item" *ngFor="let goal of missingGoals" (click)="navigateToGoal(goal.id)">
        <mat-list-item>{{goal.description}}</mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Completed
      </mat-panel-title>
      <mat-panel-description>
        {{completedGoals.length}} completed
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list *ngIf="completedGoals.length > 0">
      <mat-divider></mat-divider>
      <div class="item" *ngFor="let goal of completedGoals" (click)="navigateToGoal(goal.id)">
        <mat-list-item>{{goal.description}}</mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-expansion-panel>
</div>

