.student{
  margin-top: 2rem;
  text-align: center;
}

.backButton{
  margin-top: 1rem;
  margin-left: 1rem;
}

.item :hover{
  background-color: lightgrey;
  transition: background-color 1s;
}

mat-expansion-panel{
  margin:auto;
  width: 80%;
  margin-top: 2rem;
}
