@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
  font-family: 'Mukta', sans-serif;
}

mat-toolbar{
  background-color: rgb(13, 37, 116) !important;
}

mat-sidenav {
  width: 15rem;
  color: rgb(17, 50, 156);
}
a {
  text-decoration: none;
  color: white;
}



.title{
  .logo{
    width: 8%;
    height: 8%;
    margin-right: 3px;
    vertical-align: middle;
  }

  .text{
    margin-top: 1%;
    margin-left: 1%;
  }
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
  display: flex;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  font-family: 'Mukta', sans-serif;
  margin: 0;
  cursor: pointer;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 3px;
  text-align: center;
  vertical-align: middle;
}

.label {
  // display: inline-block;
  padding-left: 0.3rem;
  line-height: 30px;
  margin: 0;
  width: 85%;
}
#input-icon {
    margin-top: 0.1rem;
}
#home-icon,
#dash-icon,
#sidenav-dash-icon {
  margin-right: 0.2rem;
}
#workout-label {
  margin-right: 0.7rem;
}
.mat-sidenav-content {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
