<nb-card>
  <nb-card-header>
    🖋 Edit Goal
    <button class="exit">
      <nb-icon class="exitIcon" icon="close-outline"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body>
    <!-- Title -->
    <p>
      <mat-form-field cdkFocusInitial>
        <mat-label>Goal Title</mat-label>
        <input matInput [(ngModel)]="goal.description">
      </mat-form-field>
    </p>
    <!-- Due Date -->
    <p>
      <mat-form-field>
        <mat-label>Due Date</mat-label>
        <input matInput (click)="picker.open()" [matDatepicker]="picker" [(ngModel)]="editDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="basic">Cancel</button>
    <button nbButton [nbSpinner]="loading" [disabled]="loading || !formComplete()" (click)="editGoal()"
      status="primary">
      Save Changes
    </button>
  </nb-card-footer>
</nb-card>