<h1 mat-dialog-title>Edit Goal</h1>
<div mat-dialog-content>
  <!-- Title -->
  <p>
    <mat-form-field>
      <mat-label>Goal Title</mat-label>
      <input matInput [(ngModel)]="goal.description">
    </mat-form-field>
  </p>
  <!-- Due Date -->
  <p>
    <mat-form-field>
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="goal.dueDate">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>
  <!-- Students -->
    <h3>Assign To</h3>
    <section class="example-section">
      <span class="example-list-section">
        <mat-checkbox class="example-margin" (change)="assignToAll($event.checked)" [checked]="allAssigned">
          All Students
        </mat-checkbox>
      </span>
      <span class="example-list-section">
        <ul>
          <li *ngFor="let student of data.students">
            <mat-checkbox (change)="checkSpecific(student,$event.checked)" [checked]="isAssigned(student.uid)">
              {{student.name}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </section>

    <h3>Delete Goal</h3>
    <p>Be careful! This will permanently delete your goal.</p>
    <button mat-raised-button color="primary" (click)="deleteGoal()" [class.spinner]="loading">Create Goal</button>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial [class.spinner]="loading" [disabled]="loading || !formComplete()" (click)="editGoal()">Save Changes</button>
</div>
