<nb-card>
  <nb-card-header>
    🧑‍🎓 Add a Student
  <button (click)="closeDialog()" class="exit">
    <mat-icon class="exitIcon">clear</mat-icon>
  </button>
</nb-card-header>
<nb-card-body>
  <div class="add-existing-student section">
    <h3>Add Existing Student</h3>

    <div>
      <label for="name" class="label">Student Name:</label>
      <input type="text" nbInput fullWidth [formControl]="userValue" [matAutocomplete]="auto" id="name">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let student of studentData" [value]="student">
          {{student.name}}
        </mat-option>
      </mat-autocomplete>
    </div>
    <p class="error-text">{{errorMessage}}</p>
  </div>

  <h3>OR</h3>

  <div class="create-new-student section">
    <h3>Create new Student</h3>
      <div>
        <label class="label" for="email">Student Email</label>
        <input type="text" nbInput fullWidth [(ngModel)]="studentEmail" placeholder="atsuboi2024@chadwickschool.org" id="email">
        <p class="error-text">{{emailErrorMessage}}</p>
      </div>
  </div>
  
</nb-card-body>

<nb-card-footer>
  <div class="card-footer">
    <button nbButton (click)="closeDialog()" status="basic" class="cancel">Cancel</button>
    <button nbButton status="primary" (click)="createStudent()" [nbSpinner]="loading"
      [disabled]="!formComplete() || loading">Add Student</button>
  </div>
</nb-card-footer>
</nb-card>