<nb-card>
  <nb-card-header>
    🧑‍🎓 Add a Student
  <button mat-dialog-close class="exit">
    <mat-icon class="exitIcon">clear</mat-icon>
  </button>
</nb-card-header>
<nb-card-body class="content">
  <div class="add-existing-student section">
    <h3>Add Existing Student</h3>
    <p>
      <mat-form-field>
        <mat-label>Student Name:</mat-label>
        <input type="text" matInput [formControl]="userValue" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let student of studentData" [value]="student">
            {{student.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </p>
    <p class="error-text">{{errorMessage}}</p>
  </div>

  <h3>OR</h3>

  <div class="create-new-student section">
    <h3>Create new Student</h3>
      <mat-form-field>
        <mat-label>Student Email</mat-label>
        <input type="text" matInput [(ngModel)]="studentEmail" placeholder="jsmith2024@chadwickschool.org">
        <mat-hint class="error-text">{{emailErrorMessage}}</mat-hint>
      </mat-form-field>
  </div>
  
</nb-card-body>

<nb-card-footer>
  <div class="card-footer">
    <button nbButton mat-dialog-close status="basic">Cancel</button>
    <button nbButton status="primary" (click)="createStudent()" [nbSpinner]="loading"
      [disabled]="!formComplete() || loading">Add Student</button>
  </div>
</nb-card-footer>
</nb-card>