
<button mat-dialog-close class="exit">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="exitIcon">clear</mat-icon>
  </button>
    <h1 mat-dialog-title>Add a Student</h1>
    <div mat-dialog-content>
      <!-- Name -->
      <p>
        <mat-form-field>
          <mat-label>Student Name</mat-label>
          <input matInput [(ngModel)]="studentData.name" type="text" placeholder="John Doe">
        </mat-form-field>
      </p>
      <!-- Email -->
      <p>
        <mat-form-field>
          <mat-label>Student Email</mat-label>
          <input matInput [(ngModel)]="studentData.email" type="email" placeholder="Eg. johndoe2024@chadwickschool.org">
        </mat-form-field>
      </p>
        <input type="hidden" autofocus="true" class="hiddenInput"/>
    </div>
  
    <mat-dialog-actions>
      <div class="spacer"></div>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" (click)="createStudent()" [class.spinner]="loading" [disabled]="!formComplete() || loading">Add Student</button>
    </mat-dialog-actions>
  