<button mat-dialog-close class="exit">
  <mat-icon aria-hidden="false" aria-label="Example home icon" class="exitIcon">clear</mat-icon>
</button>
<h1 mat-dialog-title>Upload Link</h1>
<div mat-dialog-content>
  <mat-form-field class="example-form-field">
    <mat-label>Enter URL:</mat-label>
    <input matInput type="text" [(ngModel)]="url" required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="addLink()" [disabled]="loading || !formComplete()">Add Link</button>
</div>
