.table {
  width: 70%;
  margin-bottom: 2rem;
}

.red-row {
  background-color: rgb(206, 105, 105);
}

.yellow-row {
  background-color: rgb(228, 221, 196);
}

.green-row {
  background-color: rgb(158, 227, 161);
}

.mat-row{
  cursor: pointer;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.subtitle{
  text-align: center;
}

.main{
  margin-top: 2rem;
}

.title{
  margin-top: 2rem;
  text-align: center;
}
