.closeButton{
    background: #ded8d8;
    margin-top: 20px;
}

.cancel{
    float: right;
}

nb-card{
    width: 30rem;
}

nb-icon{
    margin-right: 10px;
}

nb-card-header{
    background-color: #fddcab;
}