<h1 class="title" *ngIf="class">{{class.title}}</h1>
<div class="example-loading-shade" *ngIf="loading">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<div class="teacherSection" *ngIf="class && accountType=='teacher'">
  <div fxLayoutAlign="center center">
    <div class="example-loading-shade" *ngIf="loading">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <table mat-table [dataSource]="studentDataSource" *ngIf="studentDataSource.length > 0" class="mat-elevation-z8 table">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Goals Assigned Column -->
      <ng-container matColumnDef="goalsAssigned">
        <th mat-header-cell *matHeaderCellDef> Assignments </th>
        <td mat-cell *matCellDef="let element"> {{element.goalsAssigned}} </td>
      </ng-container>

      <!-- goalsCompleted Column -->
      <ng-container matColumnDef="goalsCompleted">
        <th mat-header-cell *matHeaderCellDef> Assignments Completed </th>
        <td mat-cell *matCellDef="let element"> {{element.goalsCompleted}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [class.green-row]="row.goalsCompleted/row.goalsAssigned >= .8"
        [class.yellow-row]="row.goalsCompleted/row.goalsAssigned >= .5"
        [class.red-row]="row.goalsCompleted/row.goalsAssigned < .5" (click)="openStudentData(row.id)"></tr>
    </table>
    </div>


    <button mat-button color="primary" id="createGoal" (click)="createGoalDialog()"><mat-icon>add</mat-icon> Create Goal</button>
    <p *ngIf="classGoals.length == 0 && accountType=='teacher' && !loading" class="subtitle">No Goals Assigned Yet.</p>
    <div fxLayoutAlign="center center">
      <div class="example-loading-shade" *ngIf="loading">
        <mat-spinner *ngIf="loading"></mat-spinner>
      </div>

    <table mat-table [dataSource]="classGoals" class="mat-elevation-z8 table" *ngIf="!loading && classGoals.length != 0">
      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element" (click)="openGoalData(element)"> {{element.description}} </td>
      </ng-container>

      <!-- Due Date Column -->
      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef> Due Date </th>
        <td mat-cell *matCellDef="let element" (click)="openGoalData(element)">{{ element.dueDate.seconds * 1000 | date}}</td>
      </ng-container>

      <!-- Assigned To Column -->
      <ng-container matColumnDef="assignedTo">
        <th mat-header-cell *matHeaderCellDef> Assigned To </th>
        <td mat-cell *matCellDef="let element" (click)="openGoalData(element)"> {{getLengthOf(element.assignedToID)}} </td>
      </ng-container>

      <!-- isCompleted Column -->
      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef> Completed </th>
        <td mat-cell *matCellDef="let element" (click)="openGoalData(element)"> {{ getLengthOf(element.hasCompleted)}} </td>
      </ng-container>

       <!-- Edit Icon Column -->
      <ng-container matColumnDef="edit" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <span [hidden]="getLengthOf(element.pending) == 1 && getLengthOf(element.assignedToID) == 1">
            <mat-icon [matMenuTriggerFor]="actionMenu">more_vert</mat-icon>
            <mat-menu #actionMenu="matMenu">
              <button mat-menu-item (click)="editDialog(element)">Edit</button>
              <button mat-menu-item (click)="deleteDialog(element)">Delete</button>
            </mat-menu>
          </span>

          <span [hidden]="getLengthOf(element.assignedToID) > 1 || getLengthOf(element.pending) != 1 ">
            <mat-icon [matMenuTriggerFor]="actionMenu">schedule</mat-icon>
            <mat-menu #actionMenu="matMenu">
              <button mat-menu-item (click)="editDialog(element)">Edit</button>
              <button mat-menu-item (click)="deleteDialog(element)">Delete</button>
            </mat-menu>
          </span>
          
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="classgoalsDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: classgoalsDisplayedColumns;"
      [class.green-row]="getLengthOf(row.hasCompleted)/getLengthOf(row.assignedToID) >= .8 && !(getLengthOf(row.pending) == 1 && getLengthOf(row.assignedToID) == 1)"
      [class.yellow-row]="getLengthOf(row.pending) == 1 && getLengthOf(row.assignedToID) == 1 && studentCreatedClass(row)"
      [class.red-row]="getLengthOf(row.hasCompleted)/getLengthOf(row.assignedToID) < .5 && !(getLengthOf(row.pending) == 1 && getLengthOf(row.assignedToID) == 1)"></tr>
    </table>
  </div>
</div>


<button mat-button color="primary" id="createGoal" (click)="createStudentGoalDialog()" *ngIf="accountType=='student' && !loading"><mat-icon>add</mat-icon> Create Goal</button>
<p *ngIf="goalsDataSource.length == 0 && accountType=='student' && !loading" class="subtitle">No Goals Assigned Yet.</p>
<div class="studentSection" *ngIf="class && accountType=='student'" fxLayoutAlign="center center">
  <div class="example-loading-shade" *ngIf="loading">
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
  <table mat-table [dataSource]="goalsDataSource" class="mat-elevation-z8 table" *ngIf="!loading && goalsDataSource.length != 0">
    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Due Date Column -->
    <ng-container matColumnDef="dueDate">
      <th mat-header-cell *matHeaderCellDef> Due Date </th>
      <td mat-cell *matCellDef="let element" >{{ element.dueDate.seconds * 1000 | date}}</td>
    </ng-container>

    <!-- isCompleted Column -->
    <ng-container matColumnDef="isCompleted">
      <th mat-header-cell *matHeaderCellDef> Completed? </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon aria-hidden="false" aria-label="Example done icon" *ngIf="element.isCompleted">done</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example close icon" *ngIf="element.status == 'incomplete'">close</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example close icon" *ngIf="element.status == 'declined'">warning</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example close icon" *ngIf="element.status == 'pending'">schedule</mat-icon>
      </td>
    </ng-container>

    <!-- isCompleted Column -->
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef> Created By </th>
      <td mat-cell *matCellDef="let element"> {{ element.createdBy.name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="goalsDisplayedColumns"></tr>
    <tr mat-row (click)="openDialog(row.goalReference, email, row.isCompleted, row.status)" *matRowDef="let row; columns: goalsDisplayedColumns;"
    [class.green-row]="row.status == 'completed'"
    [class.red-row]="row.status == 'incomplete' || row.status == 'declined'"
    [class.yellow-row]="row.status == 'pending'"></tr>
  </table>
</div>


