.table {
  width: 70%;
  margin-bottom: 2rem;
}

mat-accordion{
  margin-top: 4%;
}

#createGoal{
  margin-left: 75%;
  font-size: 1rem;
  margin-bottom: 1rem;

  mat-icon{
    margin-right: .3rem;
  }
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-row {
  background-color: rgb(252, 90, 90);
}

.yellow-row {
  background-color: rgb(250, 210, 77);
}

.green-row {
  background-color: rgb(92, 206, 97);
}

.mat-row{
  cursor: pointer;
}


.title, h2{
  text-align: center;
}

.title{
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
