<!-- <nb-layout>

  <nb-layout-header fixed>
  
  </nb-layout-header>

  <nb-layout-column>

    <nb-layout>
  
    </nb-layout>
  </nb-layout-column>

  <nb-layout-footer fixed>
  
  </nb-layout-footer>

</nb-layout> -->

<nb-layout>
  <nb-layout-column>
    <mat-sidenav-container>
      <mat-sidenav #sidenav role="navigation">
        <gms-side-navbar></gms-side-navbar>
      </mat-sidenav>
      <mat-sidenav-content>
          <gms-navbar (toggleSidenav)="sidenav.toggle()" *ngIf="auth.user$ | async"></gms-navbar>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </nb-layout-column>
</nb-layout>
