<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>

    <nb-layout>
    <mat-sidenav-container>
      <mat-sidenav #sidenav role="navigation">
        <gms-side-navbar></gms-side-navbar>
      </mat-sidenav>
      <mat-sidenav-content>
          <gms-navbar (toggleSidenav)="sidenav.toggle()"></gms-navbar>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
    </nb-layout>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
