.example-form {
  min-width: 150px;
  width: 100%;
  // margin-top: 1.5rem;
}
.example-full-width {
  width: 100%;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: grey;
}
.reps {
  margin-right: 3rem;
}

#goal-input-card {
  width: 50%;
  min-height: 20rem;
}
.gms-student-table {
  width: 100%;
}

#gms-home-card {
  width: 65%;
  // padding: 0rem;
}

