#createClassButton{
    margin-left: 75%;
    margin-bottom: 1rem;
    position: absolute;
    right: 5%;
  }

  .director-page{
      margin-top: 2rem;
  }

  .warning{
    top: 20%;
    position: absolute;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
  }