<div class="example-loading-shade" *ngIf="loading">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<button mat-icon-button color="primary" [matMenuTriggerFor]="menu" class="edit-icon">
  <mat-icon>settings</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="editDialog()" >Edit</button>
  <button mat-menu-item (click)="deleteClassDialog()">Delete</button>
</mat-menu>

<div *ngIf="classData" class="classData">
  <div class="topData">
    <h1 *ngIf="!loading">
      {{classData.title}}
    </h1>
  </div>
 
  <h3 *ngIf="!studentDataSource">0 students</h3>
  <h3 *ngIf="studentDataSource">{{classData.students.length}} students</h3>
  <h3 *ngIf="teacherData">{{teacherData.name}}</h3>
  <button mat-button color="primary" id="createClassButton" (click)="openStudentCreateModal()">
    <mat-icon>add</mat-icon> Create Student
  </button>
  <div *ngIf="studentDataSource && studentDataSource.length > 0">
    <table mat-table [dataSource]="studentDataSource" class="table">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- Edit Icon Column -->
      <ng-container matColumnDef="edit" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="edit-icon" [matMenuTriggerFor]="actionMenu">more_vert</mat-icon>
          <mat-menu #actionMenu="matMenu">
            <button mat-menu-item (click)="deleteDialog(element)">Delete</button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

  <h3 *ngIf="studentDataSource && studentDataSource.length == 0" class="warning">
    There are no students added to this class yet.
  </h3>
</div>