<div class="example-loading-shade" *ngIf="loading">
    <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<h1 *ngIf="!loading">{{classData.title}} testing</h1>
<h3>{{classData.studentEmails.length}} students</h3>
<h3>teacher name</h3>
<p>Student Data</p>

<table mat-table [dataSource]="studentDataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Edit Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  