.table {
    width: 90%;
    margin-bottom: 2rem;
    margin: auto;
    margin-top: 2rem;
    text-align: left;
  }

  .classData{
    text-align: center;
    margin-top: 2rem;
    height: 100%;
  }


.warning{
    font-weight: normal;
    position: absolute;
    left: 33%;
    margin-top: 4rem;
}

#createClassButton{
    float: right;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.edit-icon:hover{
  cursor: pointer;
}