.table {
    width: 90%;
    margin-bottom: 2rem;
    margin: auto;
    margin-top: 2rem;
  }

  .classData{
    text-align: center;
    margin-top: 2rem;
    height: 100%;
  }


.warning{
    text-align: center;
}