
<button mat-dialog-close class="exit">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="exitIcon">clear</mat-icon>
  </button>
    <h1 mat-dialog-title>Create a Goal</h1>
    <div mat-dialog-content>
      <!-- Title -->
      <p>
        <mat-form-field>
          <mat-label>Goal Title</mat-label>
          <input matInput [(ngModel)]="goal.description">
          <mat-hint [hidden]="goal.description.length <= 40" class="error">Description must be less than 40 chars.</mat-hint>
        </mat-form-field>
      </p>
      <!-- Due Date -->
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Due Date</mat-label>
          <input matInput [matDatepicker]="picker" (click)="picker.open()" [(ngModel)]="goal.dueDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-hint [hidden]="!checkDateErrors()" class="error">{{dateErrors}}</mat-hint>
        </mat-form-field>
      </p>
    </div>
  
    <mat-dialog-actions>
      <div class="spacer"></div>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-raised-button color="primary" (click)="createGoal()" [class.spinner]="loading" [disabled]="!formComplete() || loading">Create Goal</button>
    </mat-dialog-actions>
  