<nb-card> 
  <nb-card-header>
    Create a Goal
  </nb-card-header>
  <nb-card-body *ngIf="goal">
    <div>
      <label for="title" class="label">Goal Title</label>
      <div>
        <input type="text" nbInput id="title" fullWidth
        placeholder="Enter Goal Title"
        required
        [(ngModel)]="goal.description"
        >
        <p [hidden]="goal.description.length <= 40" class="error">Description must be less than 40 chars.</p>
      </div>
    </div>
    <!-- Due Date -->

    <div>
      <label for="dueDate" class="label">Due Date</label>
      <div>
        <input nbInput [nbDatepicker]="datepicker" [(ngModel)]="goal.dueDate">
        <nb-icon nbSuffix icon="calendar-outline"></nb-icon>
        <nb-datepicker #datepicker></nb-datepicker>

        <p [hidden]="!checkDateErrors()" class="error">{{dateErrors}}</p>
      </div>
    </div>
    
    
  </nb-card-body>
  
  
    <nb-card-footer>
      <button nbButton (click)="closeDialog()">Cancel</button>
      <button nbButton status="info" (click)="createGoal()" [nbSpinner]="loading" [disabled]="!formComplete() || loading">Create Goal</button>
    </nb-card-footer>
  </nb-card>