<nb-card> 
  <nb-card-header>
    ✍️ Create a Goal
  </nb-card-header>
  <nb-card-body *ngIf="goal">
    <div>
      <label for="title" class="label">Goal Title</label>
      <div class="form-field">
        <input type="text" nbInput id="title" fullWidth
        placeholder="Enter Goal Title"
        required
        [(ngModel)]="goal.description"
        >
        <p [hidden]="goal.description.length <= 40" class="error">Description must be less than 40 chars.</p>
      </div>
    </div>
    <!-- Due Date -->

    <div>
      <label for="dueDate" class="label">Due Date</label>
      <div class="form-field">
        <input nbInput [nbDatepicker]="datepicker" [(ngModel)]="goal.dueDate">
        <nb-datepicker #datepicker></nb-datepicker>
        <p [hidden]="!checkDateErrors()" class="error">{{dateErrors}}</p>
      </div>
    </div>
    
    
  </nb-card-body>
  
  
    <nb-card-footer>
      <div class="card-footer">
        <button nbButton status="basic" (click)="closeDialog()" class="cancel">Cancel</button>
        <button nbButton (click)="createGoal()" [nbSpinner]="loading" [disabled]="!formComplete() || loading">Create Goal</button>
      </div>
    </nb-card-footer>
  </nb-card>