<button mat-dialog-close class="exit">
  <mat-icon aria-hidden="false" aria-label="Example home icon" class="exitIcon">clear</mat-icon>
</button>
<div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">

  <h3>Upload a File</h3>
  <p>Drag and Drop a File</p>
  <div class="file">
    <label class="file-label">
      <input type="file" class="file-input" (change)="onDrop($event.target.files)">
    </label>
  </div>
</div>

<h3>Uploads</h3>

<div *ngFor="let file of files">
  <gms-upload-task [file]="file" [goal]="goalData"></gms-upload-task>
</div>
