.classes{
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
}


.block{
  margin-top: 5%;
  width: 13rem;
  height: 13rem;
  text-align: center;

  mat-icon{
    font-size: 6rem;
    width:6rem;
    height: 6rem;

    .h2{
      font-weight: bold;
    }
  }

}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card:hover{
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  cursor: pointer;
}
