.title{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

mat-expansion-panel{
    margin:auto;
    width: 80%;
    margin-bottom: 2rem;
}

.footer{
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 2rem;
}

p{
    color: rgb(88, 86, 86);
}