@keyframes spinner {
  to {transform: rotate(360deg);}
}

mat-form-field {
  width: 100%;
}

mat-dialog-title{
  font-size: 1.2rem;
  margin-bottom: 0;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.subtitle{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.complete{
  display: flex;
  color: greenyellow;

  p{
    margin: 0;
  }
}

.uncomplete{
  display: flex;
  color: red;

  p{
    margin: 0;
  }
}

.exit{
  float: right;
  top:-24px;
  right:-24px;
  border:none;
  background: transparent;
}

.exit:hover{
  cursor: pointer;
}

.actionButton{
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.fileButton{
  margin-bottom: 2rem;
  border: 2px solid gray;
}

.file{
  display: flex;
  color: rgb(31, 152, 192);

  p{
    margin: 0;
    padding-top: 2px;
  }

  .close{
    color:black;
  }

  mat-icon{
    padding-left: 5px;
    padding-right: 10px;
  }
}
