<h1 mat-dialog-title>Update Goal</h1>
<div mat-dialog-content>
  <p>Description: {{currentGoal.description}}</p>
  <p>Due Date: {{currentGoal.dueDate.seconds * 1000 | date}}</p>
  <p>Created By: {{currentGoal.createdBy.name}}</p>
  <p>Is Completed: {{isCompleted}}</p>
  <div class="actionButton" *ngIf="!isCompleted">
    <button *ngIf="!isLoading" mat-raised-button (click)="updateGoal(true)">Mark As Done</button>
  </div>

  <div class="actionButton" *ngIf="isCompleted">
    <button *ngIf="!isLoading" mat-raised-button (click)="updateGoal(false)">UnSubmit</button>
  </div>



</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close [disabled]="isLoading">Cancel</button>
  <button mat-button cdkFocusInitial [class.spinner]="isLoading" [disabled]="!madeChanges || isLoading">Save Changes</button>
</div>
