<button mat-dialog-close class="exit">
  <mat-icon aria-hidden="false" aria-label="Example home icon" class="exitIcon">clear</mat-icon>
</button>
<h1 mat-dialog-title>{{currentGoal.description}}</h1>
<div mat-dialog-content>
  <p>Due Date: {{currentGoal.dueDate.seconds * 1000 | date}}</p>
  <p>Created By: {{currentGoal.createdBy.name}}</p>
  <div *ngIf="isCompleted" class="complete">
    <mat-icon aria-hidden="false" aria-label="done icon">done</mat-icon>
    <p>Completed</p>
  </div>
  <div *ngIf="!isCompleted" class="uncomplete">
    <mat-icon aria-hidden="false" aria-label="done icon">clear</mat-icon>
    <p>Not Completed</p>
  </div>

  <h3 class="subtitle">Your Work</h3>
  <button mat-button [matMenuTriggerFor]="menu" color="primary" class="fileButton" *ngIf="!isCompleted"><mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon> Add Attachment</button>
  <div class="attachments" *ngIf="currentGoal.files.length > 0 || currentGoal.links.length > 0">
    <div class="link" *ngFor="let link of currentGoal.links">
      <mat-icon aria-hidden="false" aria-label="Example home icon">link</mat-icon>
      <a target="_blank" href="{{link.url}}">{{link.url}}</a>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="close" (click)="deleteLink(link.url)">close</mat-icon>
    </div>
    <div class="file" *ngFor="let file of currentGoal.files">
      <mat-icon aria-hidden="false" aria-label="Example home icon">insert_drive_file</mat-icon>
      <a target="_blank" href="{{file.downloadURL}}">{{file.name}}</a>
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="close" (click)="deleteFile(file)">close</mat-icon>
    </div>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="insertFileDialog()"><mat-icon aria-hidden="false" aria-label="Example home icon">insert_drive_file</mat-icon> File</button>
    <button mat-menu-item (click)="insertLinkDialog()"><mat-icon aria-hidden="false" aria-label="Example home icon">link</mat-icon> Link</button>
  </mat-menu>

  <div class="actionButton" *ngIf="!isCompleted">
    <button *ngIf="!isLoading" mat-raised-button color="primary" (click)="updateGoal(true)" [class.spinner]="isLoading" [disabled]="isLoading"><mat-icon aria-hidden="false" aria-label="Example home icon">done</mat-icon> Mark As Done</button>
  </div>

  <div class="actionButton" *ngIf="isCompleted">
    <button *ngIf="!isLoading" mat-raised-button color="primary" (click)="updateGoal(false)">UnSubmit</button>
  </div>

</div>
