.file, .link{
  display: flex;
  color: rgb(31, 152, 192);
  margin-bottom: 1rem;

  a{
    margin: 0;
    padding-top: 2px;
  }

  .close{
    color:black;
    margin-left: 8px;
  }

  mat-icon{
    padding-left: 5px;
    padding-right: 10px;
  }
}

.goal{
  margin-left: 2rem;
}

.goalDescription{
  margin-left: 1rem;
}

.complete, .uncomplete, .declined, .pending{
  display: flex;

  p{
    margin: 0;
  }

  mat-icon{
    padding-right: .5rem;
  }
}

.uncomplete, .declined{
  color: red;
}

.complete{
  color: rgb(149, 221, 132);
}

.pending{
  color: rgb(221, 205, 132);
}


.reason{
  font-size: 1.5rem;
  margin-top: 2rem;
}

.stats{
  display: flex;
  padding-top: 1rem;
  

  .stat{
    margin-right: 2rem;
    height: 10rem;
    border-right: 2px solid #9287874f;
    padding-right: 2rem;

    h2{
      text-align: center;
      font-size: 2rem;
    }
  
    h3{
      font-weight: normal;
    }
  }
}

a{
  cursor: pointer;
}

mat-spinner{
  top: 30%;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}