<div class="goal" *ngIf="goal">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div class="goalDescription" *ngIf="studentData == null">
    <h1>{{goal.description}}</h1>
    <p>{{goal.dueDate.seconds * 1000 | date}}</p>
    <div class="stats">
      <div class="stat"><h2>{{goal.assignedToID.length}}</h2> <h3>assigned</h3></div>
      <div class="stat"><h2>{{goal.hasCompleted.length}}</h2> <h3>completed</h3></div>
      <div class="stat"><h2>{{goal.pending.length}}</h2> <h3>pending</h3></div>
      <div class="stat"><h2>{{goal.declined.length}}</h2> <h3>declined</h3></div>
    </div>   
  </div>

  <div class="studentGoalData" *ngIf="studentData != null">
    <h1>{{studentData.name}}</h1>
    <div *ngIf="studentData.status == 'completed'" class="complete">
      <mat-icon aria-hidden="false" aria-label="done icon">done</mat-icon>
      <p>Completed</p>
    </div>
    <div *ngIf="studentData.status == 'incompleted'" class="uncomplete">
      <mat-icon aria-hidden="false" aria-label="done icon">clear</mat-icon>
      <p>Not Completed</p>
    </div>
    <div *ngIf="studentData.status == 'pending'" class="pending">
      <mat-icon aria-hidden="false" aria-label="done icon">schedule</mat-icon>
      <p>Pending</p>
    </div>
    <div *ngIf="studentData.status == 'declined'" class="declined">
      <mat-icon aria-hidden="false" aria-label="done icon">report_problem</mat-icon>
      <p>Declined</p>
    </div>
    <div class="completedSection" *ngIf="studentData.status == 'completed'">
      <h1 class="reason">Attached Work: </h1>
      <div class="link" *ngFor="let link of studentData.links">
        <mat-icon aria-hidden="false" aria-label="Example home icon">link</mat-icon>
        <a (click)="goToLink(link.url)">{{link.url}}</a>
      </div>
      <div class="file" *ngFor="let file of studentData.files">
        <mat-icon aria-hidden="false" aria-label="Example home icon">insert_drive_file</mat-icon>
        <a target="_blank" href="{{file.downloadURL}}">{{file.name}}</a>
      </div>
    </div>
    
    <div class="declinedInfo" *ngIf="studentData.status == 'declined'">
      <h1 class="reason">Reason: </h1>
      <p>{{studentData.declinedNote}}</p>
    </div>
  </div>

</div>

