<div class="goal" *ngIf="goal">
  <div class="goalDescription" *ngIf="!studentData">
    <h1>{{goal.description}}</h1>
    <p>{{goal.dueDate.seconds * 1000 | date}}</p>
    <p>{{goal.assignedToID.length}} assigned</p>
    <p>{{goal.hasCompleted.length}} completed</p>
  </div>

  <div class="studentGoalData" *ngIf="studentData">
    <h1>{{studentData.name}}</h1>
    <h1>{{studentData.id}}</h1>
    <p>{{studentData.completed}}</p>
    <p>{{studentData.links.length}} links</p>
    <p>{{studentData.files.length}} files</p>
  </div>

</div>

